.App {
  text-align: center;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;

}
.main {
  float: left;
  width: 75%;
  margin-top: 1%;
}
.left {
  margin-left: 3%;
  margin-top: 1%;
}

.left-content {
  margin: 0 30px;
}

.App-header, .App-footer {
  background-color: #282c34;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16;
  color: white;
  padding: 5px 0;
}

.main-container {
  padding: 5px;
}